* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: darkred;
}

header {
    width: 100vw;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(184, 195, 196);
}
body{
    overflow-x: hidden;
}

.logo {
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

.logo b {
    padding: 5px 10px;
    background-color: darkred;
    color: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
}

nav a,
.objednat {
    text-decoration: none;
    color: white;
    background-color: darkred;
    padding: 8px 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(229, 236, 236);
}

body h1 {
    padding: 25px;
}

.cars,
.lendings {
    background-color: rgb(184, 195, 196);
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.car,
.lending {
    background-color: rgb(229, 236, 236);
    width: 300px;
    height: 500px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

}

.lending {
    flex-direction: row;
    width: 500px;
    height: 300px;
    padding: 2px;
}

.cardiv,
.right {
    height: 100%;
    width: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right>*,
.cardiv {
    border: 2px solid white;
    padding: 10px;
}

.right>* {
    height: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.car h1,
.lending h1 {
    font-size: 20px;
}

.car h2,
.lending h2 {
    font-size: 15px;
}

.car img,
.lending img {
    max-width: 300px;
    width: 100%;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.fa {
    font-size: 20px !important;
    text-decoration: none;
    margin: 5px;
}
form input, form button{
    padding: 10px;
    border: 1px solid darkred;
    margin: 5px;
}
form input::placeholder{
    color: rgba(139, 0, 0, 0.61);
    align-self: center;
}
input[type="submit"]:hover, button:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.modal {
    border: darkred 2px solid;
    border-radius: 2px;
    background-color: rgb(229, 236, 236);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 600px;
    height: 400px;
    max-height: 100%;
    z-index: 1010;
}

.modalOverlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658);
}
.modalCloseDiv{
    overflow: auto;
    padding: 10px;
}
.modalCloseDiv *{
    float: right;
}
.modal form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50%;
}


#flashes{
    position: fixed;
    top: 25px;
    z-index: 2000;
    text-align: center;
}
#flashes > *{
    padding: 5px;
    margin: 5px;
}
#flashes > *:hover{
    cursor: pointer;
}
.success{
    background-color: rgb(74, 148, 0);
    color: white;
}
.success:hover{
    background-color: rgba(74, 148, 0, 0.664);
    transition: .5s;
}
.error{
    background-color: rgba(170, 5, 5, 1);
    border: red 1px thin;
    color: white;
}
.error:hover{
    background-color: rgba(170, 5, 5, 0.664);
    transition: .5s;
}

#administraceDiv{
    width: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 300;
}
#administraceDiv a{
    background-color: rgb(187, 0, 0);
}
#administraceDiv a:first-of-type{
    margin-top: 6px;
}
.wrapper{
    width: 100%;
    background-color: rgb(184, 195, 196);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper > .fa{
    margin: 30px;
    font-size: 30px !important;
    transition: .5s;
}
.wrapper > .fa:hover{
    color: rgba(139, 0, 0, 0.61);
    transition: .5s;
}


@media screen and (max-width:512px) {
    header {
        flex-direction: column;
    }

    header nav {
        width: 100%;
        padding-top: 25px;
    }

    header nav > a, .navDiv{
        width: 90vw !important;
        margin: 5px;
    }
    .navDiv a, .navDiv,  #administraceA{
        width: 90vw !important;
    }
    .navDiv{
        padding: 5px 0px;
    }
}
.close{
    display: none;
}